html, body, .item-card {
  height: 100%; }
  html img, body img, .item-card img {
    width: 100%; }
  html .item-details, body .item-details, .item-card .item-details {
    height: 59%;
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between; }
    html .item-details > div:first-child, body .item-details > div:first-child, .item-card .item-details > div:first-child {
      min-height: 130px; }
    html .item-details .card-text, body .item-details .card-text, .item-card .item-details .card-text {
      color: #A6A8A7; }
    html .item-details .price, body .item-details .price, .item-card .item-details .price {
      font-size: 23px;
      display: flex;
      align-items: flex-end;
      margin-bottom: 5%;
      color: #9AB05B; }
      html .item-details .price > span:first-child, body .item-details .price > span:first-child, .item-card .item-details .price > span:first-child {
        display: flex;
        align-items: flex-start; }
        html .item-details .price > span:first-child > span:nth-child(2), body .item-details .price > span:first-child > span:nth-child(2), .item-card .item-details .price > span:first-child > span:nth-child(2) {
          font-weight: bold;
          padding: 0px 2px; }
        html .item-details .price > span:first-child > span:last-child, body .item-details .price > span:first-child > span:last-child, .item-card .item-details .price > span:first-child > span:last-child {
          padding: 0px 3px; }
      html .item-details .price > span:last-child, body .item-details .price > span:last-child, .item-card .item-details .price > span:last-child {
        font-size: 16px;
        color: #A6A8A7; }
    html .item-details .quantity, body .item-details .quantity, .item-card .item-details .quantity {
      display: flex;
      justify-content: space-between;
      color: #9AB05B;
      align-items: center; }
      html .item-details .quantity .fa, body .item-details .quantity .fa, .item-card .item-details .quantity .fa {
        font-size: 2em; }
      html .item-details .quantity span, body .item-details .quantity span, .item-card .item-details .quantity span {
        font-size: 1.8em; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap; }

.row > [class*='col-'] {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px; }
